* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  background-image: url("assets/images/pattern-squiggly-line-top.svg"),
    url("assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg"),
    url("assets/images/pattern-lines.svg"),
    url("assets/images/background-mobile.png");

  background-position: top 4% right 0%, bottom -2% left 0%, center, center;
  background-size: 7rem, 14rem, cover, cover;
  background-repeat: no-repeat;
  color: hsl(252, 6%, 83%);
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1.5rem 0 1.5rem;
  min-height: 100vh;
  margin: 2rem 0;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}
.intro h1 {
  font-size: 2.5rem;
}

.intro p {
  font-size: 1.5rem;
  color: hsl(252, 6%, 83%);
}

.intro img {
  width: 12rem;
  margin: 0 auto;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  max-width: 100%;
}

main label {
  font-size: 1.35rem;
  color: hsl(252, 6%, 83%);
}
form input {
  padding: 1rem;
  background-color: transparent;
  border: 1px solid hsl(252, 6%, 83%);
  border-radius: 0.75rem;
}
form input:focus {
  border: 2px solid hsl(252, 6%, 83%);
  border-radius: 0.75rem;
  color: #fff;
}
.photo-conf {
  display: flex;
  gap: 0.5rem;
}

.dragDrop,
main ::placeholder {
  font-size: 1rem;
}

.photo-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed hsl(252, 6%, 83%);
  border-radius: 0.75rem;
  max-width: 100%;
  padding: 1.5rem;
}
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0;
  background: hsl(7, 88%, 67%);
  color: hsl(248, 70%, 10%);
  width: 100%;
  font-weight: 800;
  font-size: 1rem;
}

/* TICKET - SHOW ONLY ONCE FORM HAS BEEN SUBMITTED */

.ticket {
  display: none;
  text-align: center;
  padding: 0.5rem;
}
.ticket h1 {
  font-size: 2rem;
}
.ticket p {
  font-size: 1.2rem;
}

.ticket-bg {
  width: 100%;
  display: block;
}
#ticket-overlay {
  background-image: url("assets/images/pattern-ticket.svg");
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 600px;
  /* aspect-ratio: 2.5 / 1; */
  position: relative;
  margin: 0 auto;
  padding: 20px;
  color: white;
}
.ticket-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#imageUpload {
  display: none;
  cursor: pointer;
}

.ticket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticket-body {
  display: flex;
  align-items: center;
  gap: 20px;
}
#avatarPreview {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.attendee-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.github-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

#ticketNumber {
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: auto;
}

.attribution {
  text-align: center;
  color: hsl(252, 6%, 83%);
}
.attribution a {
  color: hsl(252, 6%, 83%);
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  body {
    background-image: url("assets/images/pattern-squiggly-line-top.svg"),
      url("assets/images/pattern-squiggly-line-bottom-desktop.svg"),
      url("assets/images/pattern-lines.svg"),
      url("assets/images/background-desktop.png");

    background-position: top 4% right 0%, bottom -2% left 0%, center, center;
    background-size: 10rem, 25rem, cover, cover;
  }
  main {
    width: 40%;
    margin: 0 auto;
    max-height: 100vh;
  }
}
